<?xml version="1.0"?>
<launch>
  
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find navigation_stage)/move_base_config/move_base.xml"/>
  <include file="$(find navigation_stage)/move_base_config/slam_gmapping.xml"/>  

  <param name="robot_description" command="cat $(find evarobotmodel_description)/urdf/evarobotmodel.urdf"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find evarobotmove_gazebo)/rviz.rviz"/>

</launch>
